.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-cocktail {
  font-size: 40px;
  position: absolute;
  left: 100px;
  color: white;
}

.btn-mix {
  position: absolute;
  right: 100px;
  top: 10px;
}
